/* 

    如果你的元素要参照背景图片来放它的位置，那么就应该背景图片怎么布局，你就怎么布局

    意思是：如果背景图片水平居中，你也要保证水平居中
           如果背景图片底部对齐，你也要保证底部对齐

           这样才能保证不管屏幕大小怎么变化，你永远都在图片对应的某个位置上
*/

.section1{

    background: url(../images/01/bg.png) no-repeat center bottom;
}


.section1 .sofa{
    position: absolute;
    left:50%;
    margin-left: -1.5rem;
    bottom: 0;
    margin-bottom: 3.3rem;
    animation: shake 1s alternate infinite;
}

.section1 .ball{

    position: absolute;
    left:50%;
    margin-left: 1rem;
    bottom: 0;
    margin-bottom: 4.3rem;
    animation: shake 1.3s alternate infinite;
}

.section1 .products{

    position: absolute;
    left:50%;
    margin-left: -3.8rem;
    bottom: 0;
    margin-bottom: 1.5rem;
}


@keyframes shake{

    from{}
    to{
        transform: translateY(-0.8rem);
    }
}


/* 第二屏 */
.section2{

    background: url(../images/02/bg.png) no-repeat center bottom;
}

.section2 .search01{

    position: absolute;
    left:50%;
    /* margin-left: -1.11rem; */
    bottom: 0;
    margin-bottom: 3rem;

    /* 到时候用动画效果移动到-111来 */
    margin-left: 4rem;
}


.section2 .search02{

    position: absolute;
    left:50%;
    margin-left: -1.11rem;
    bottom: 0;
    margin-bottom: 3rem;
    display: none;
}


.section2 .sofas{
    position: absolute;
    /* right定位，那么就只能用margin-right，left用margin-left */
    right: 50%;
    margin-right: -2.225rem;

    bottom: 0;
    margin-bottom: 2.13rem;
    width:0;
}



/* 第三屏 */
.section3{
    background: url(../images/03/bg.png) no-repeat center;
}


.section3 .sofa{
    position: absolute;
    left:50%;
    margin-left: -2.35rem;
    top:50%;
    margin-top: -1.2rem;
}

.section3 .color{

    width: 2.96rem;
    height: 1.31rem;
    background: url(../images/03/color01.gif) no-repeat;

    position: absolute;
    left:50%;
    top:50%;
    margin-left: 0.4rem;
    margin-top: -0.2rem;
}

.section3 .add{
    width: 2.18rem;
    height: 0.58rem;
    background: url(../images/03/add01.gif) no-repeat;

    position: absolute;
    left:50%;
    top:50%;
    margin-left: 0.4rem;
    margin-top: 1.1rem;
}


.section3.animation .color{

    transition: all 1s;
    background: url(../images/03/color02.gif) no-repeat;
}

.section3.animation .add{

    transition: all 1s;
    background: url(../images/03/add02.gif) no-repeat;
}


/* 第四屏 */
.section4{
    background: url(../images/04/bg.png) no-repeat center bottom;
}

.section4>div{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section4 .keyboard{

    width: 2.83rem;
    height: 2.7rem;
    background: url(../images/04/keyboard.png) no-repeat;
    position: relative;
    margin-top:0.5rem;

    opacity: 0;
}

.section4 .address{

    position: absolute;
    left:50%;
    margin-left:-0.865rem;
    top:0.6rem;
}

.section4 .cloud{
    position: absolute;
    top:0.1rem;
    right:-8.82rem;

    animation: cloud 60s linear infinite;
}

.section4 .carBox{
    width: 4.07rem;
    height: 3.46rem;
    /* border: 0.01rem solid #000; */
    position: absolute;

    left:50%;
    margin-left: -2.035rem;
    bottom: 0.4rem;
}

.section4 .sofa{

    left:1.2rem;
    top:-0.4rem;
    position: absolute;
}

.section4 .car{
    position: absolute;
}


@keyframes cloud{
    from{}
    to{

        transform: translateX(-20rem);
    }
}


/* 第五屏 */
.section5{
    background: url(../images/05/bg.png) repeat;
    perspective: 11rem;
}


.section5 .card-box{

    width: 3.58rem;
    height: 2.21rem;
    position: absolute;
    left:50%;
    margin-left: -4.3rem;
    top:50%;
    margin-top: -0.8rem;
}

.section5 .bill{

    position: absolute;
    left:1.3rem;
    top:0;
}

.section5 .card{
    position: absolute;
}


.section5 .mouse{
    width: 2.05rem;
    height: 4rem;
    background: url(../images/05/mouse01.png) no-repeat left bottom;
    position: absolute;
    left:50%;
    top:50%;
    margin-left: 3rem;
    margin-top: -3.5rem;
}

.section5 .hand{

    position: absolute;
    left:50%;
    top:50%;
    margin-left: 2.7rem;
    margin-top: -0.5rem;
}


.section5 .words{
    position: absolute;
    left:50%;
    margin-left: -2.705rem;
    top:50%;
    margin-top: -2.7rem;
    /* display: none; */
    /* display:none是没有动画效果的！ */
    opacity: 0;
}


.section5.animation .hand{

    transition: all 1s;
    transform: translateY(-0.3rem);
}

.section5.animation .mouse{

    transition: all 1s 1s;
    /* background: url(../images/05/mouse02.png) no-repeat left bottom; */
    /* 上面和下面都可以改图片并保持原来的位置 */
    background-image: url(../images/05/mouse02.png);
}


.section5.animation .bill{

    transition: all 1s 2s;
    transform: translateY(-1.3rem);
}


.section5.animation .words{

    transition: all 1s 3s;
    opacity: 1;
    transform: rotateY(360deg) scale(1.2);
}


/* 第六屏 */
.section6 .street{
    width: 100%;
    height: 100%;
    background: url(../images/06/bg.png) repeat-x -3rem bottom;

    position: relative;
}

.section6 .big-box{

    /* 它的子元素都会定位，如果不给这个盒子宽高，就没有宽高，就容易导致布局有问题 */
    width: 2.21rem;
    height: 1.22rem;

    position: absolute;

    bottom: 0;
    margin-bottom:0.8rem;
    /* left:0;
    margin-left:4rem; */
    left:4rem;
}

.section6 .car{
    position: absolute;
}


.section6 .gift{

    width: 1.23rem;
    height: 0.85rem;
    position: absolute;

    top:-4rem;
}


.section6 .sofa{
    position: absolute;
    width: 0.8rem;
    left:0.2rem;
    top:-0.2rem;
}

.section6 .box{
    position: absolute;
}


.section6 .man{
    position: absolute;
    height: 0px;
    right:0;
    bottom:0.09rem;
}


.section6 .door{
    position: absolute;
    bottom: 0;
    margin-bottom:1.16rem;
    left:8.1rem;

    display: none;
}


.section6 .girl{
    position: absolute;
    bottom: 0;
    margin-bottom:1.16rem;
    left:8.65rem;
    height: 1.2rem;
    display: none;
}



/* 第七屏 */
.section7{
    background: url(../images/07/bg.png) no-repeat center bottom;
}

.section7 .star{
    /* width: 1.05rem; */
    width: 0;
    height: 0.17rem;
    background: url(../images/07/stars3.png);

    position: absolute;
    left:50%;
    margin-left: -3rem;
    bottom: 0;
    margin-bottom:4.42rem;
}


.section7 .good{

    position: absolute;
    left:50%;
    margin-left: -2.8rem;
    bottom: 0;
    margin-bottom:3.82rem;

    opacity: 0;
}


.section7.animation .star{

    transition: all 1s steps(5);
    width: 1.05rem;
}

.section7.animation .good{

    transition: all 1s 1s;
    opacity: 1;
}


/* 第八屏 */
.section8{
    background: url(../images/08/bg.png);
}

.section8 .begin{
    width: 3.89rem;
    height: 1.6rem;

    background: url(../images/08/begin.png);

    position: absolute;
    left:50%;
    margin-left: -1.945rem;
    top:0.2rem;
}


.section8 .begin:hover{

    background: url(../images/08/begin.gif);
}

.section8 .again{
    position: absolute;
    right:0.8rem;
    bottom: 0.8rem;
}


.section8 .hand{

    position: absolute;

    /* 不要接收任何来自于鼠标指针的事件 */
    pointer-events: none;
}